<% if (success && success.length > 0) { %>

<div class="alert success-alert">

    <%= success[0] %>

</div>

<% } %>

<% if (error && error.length > 0) { %>

<div class="alert error-alert">

    <%= error[0] %>

</div>

<% } %>